body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex; /* Add this line */
    flex-direction: column;
    min-height: 100vh; /* Use min-height instead of height */
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
}

main {
    flex: 1; /* This makes the main content grow to fill the space, pushing the footer down */
}


nav {
    background: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav::after {
    content: '';
    flex: 1;
}

nav .logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    flex: 1;
}

nav .nav-links {
    flex: 2; /* Gives the nav-links double the space to spread out, centering them */
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.about-hero {
    background-color: #A8DADC;
    color: white;
    padding: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.about-content .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.about-content h2 {
    color: #A8DADC;
    margin: 20px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    flex-shrink: 0;
}

/* For Sustainable Practices or Featured Courses */
.sustainable-practices, .featured-courses {
    padding: 50px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.sustainable-practices ul, .course-list {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 20px;
}

.course {
    background-color: #f0f0f0;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

.course h3 {
    color: #333;
}

.course p {
    margin-top: 10px;
}
 
.our-mission {
    background-color: #fafafa; /* Light background to distinguish the section */
    padding: 50px 20px;
    text-align: center; /* Center the text for focus and emphasis */
}

.our-mission h2 {
    color: #333; /* Dark text for headline */
    margin-bottom: 20px;
}

.our-mission p {
    color: #666; /* Slightly lighter text for the body to improve readability */
    font-size: 1.1rem; /* Increase font size for readability */
    line-height: 1.6; /* Spacing between lines */
    margin-bottom: 20px; /* Space between paragraphs */
}

/* If you're using a specific color scheme, adjust the background-color, color, and any other properties to match your site's design */
