/* Reset some basic elements */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and borders in elements' total width and height */
}

body, html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* This makes the main content grow to fill the space, pushing the footer down */
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

nav {
    background: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav::after {
    content: '';
    flex: 1;
}

nav .logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    flex: 1;
}

nav .nav-links {
    flex: 2; /* Gives the nav-links double the space to spread out, centering them */
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.header, .footer {
    text-align: center;
    padding: 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.navigation ul li {
    display: inline;
    margin: 0 10px;
}

.navigation ul li a {
    text-decoration: none;
    color: #A8DADC;
}

.course-content {
    margin-top: 20px;
    padding-left: 20px;
}

.course-content section {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.cta {
    text-align: center;
    margin-top: 40px;
}

.btn {
    display: inline-block;
    background-color: #A8DADC;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #A8DADC;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    flex-shrink: 0;
}

.hero {
    background: #A8DADC;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    padding-left: 20px;
}

.hero h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.hero p {
    margin-bottom: 20px;
}


